<h1 mat-dialog-title *ngIf="data.heading">{{data.heading}}</h1>
<div mat-dialog-content *ngIf="data.body" [innerHTML]="getHTML(data.body)"></div>
<div class="buttons">
  <div mat-dialog-actions *ngFor="let button of data.button">
    <button *ngIf="(button === 'close')" mat-stroked-button (click)="close()">Close</button>
    <button *ngIf="(button === 'login')" mat-raised-button color="primary" (click)="close()" routerLink="/login" cdkFocusInitial>Login</button>
    <button *ngIf="(button === 'confirm')" mat-raised-button color="primary" (click)="close(true)" cdkFocusInitial>Confirm</button>
  </div>
</div>
