<mat-toolbar>
    <span class="logo" routerLink="/">SkyArchive</span>
    <span class="spacer"></span>
    <div class="buttons-wrapper">
        <button class="login-btn" [matMenuTriggerFor]="login" mat-mini-fab color="primary">
            <mat-icon>person</mat-icon>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="socialMenu" class="example-icon">
            <mat-icon>share</mat-icon>
        </button>
    </div>
    <mat-menu #login="matMenu">
        <button mat-menu-item routerLink="/login" *ngIf="!isLoggedIn()">
            <span>Login</span>
        </button>
        <button mat-menu-item routerLink="/register" *ngIf="!isLoggedIn()">
            <span>Register</span>
        </button>
        <button mat-menu-item (click)="logout()" routerLink="/login" *ngIf="isLoggedIn()">
            <span>Logout</span>
        </button>
    </mat-menu>
    <mat-menu #socialMenu="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="vertebrates">
            <mat-icon>code</mat-icon>
            <span>Project github</span>
        </button>
        <a mat-menu-item href="https://www.linkedin.com/in/filip-k%C4%85kol-7a3303208/">
            <mat-icon>linkedin</mat-icon>
            <span>Linkedin profile</span>
        </a>
    </mat-menu>
    <mat-menu #vertebrates="matMenu">
        <a mat-menu-item href="https://github.com/Fifoll/Cloud---angular">
            <span>Angular project</span>
        </a>
        <a mat-menu-item href="https://github.com/Fifoll/Cloud-nodeJs">
            <span>NodeJs project</span>
        </a>
    </mat-menu>
</mat-toolbar>