<app-tools (refreshData)="getFiles()"></app-tools>
<app-panel heading="Your files" icon="cloud">
    <div class="files">
        <mat-card class="file" *ngFor="let file of files">
            <mat-card-header class="file__header">
                <mat-card-title>{{ file.name| truncate: 9: '...'}}</mat-card-title>
                <div>
                    <a href="http://localhost/ng-files/dummy_300x300_ffffff_3678e2.png" mat-icon-button download>
                        <mat-icon>download</mat-icon>
                    </a>
                    <button mat-icon-button [matMenuTriggerFor]="fileMenu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                </div>
            </mat-card-header>
            <mat-card-content>
                <div class="file__img">
                    <span>{{ getExtension(file.name) }}</span>
                </div>
            </mat-card-content>
            <mat-menu #fileMenu="matMenu">
                <button mat-button (click)="showFileDetails(file.file_id)" class="file__button">
                    Show details
                    <mat-icon>more</mat-icon>
                </button>
                <button mat-button (click)="editFileName(file)" class="file__button">
                    Edit filename
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-button (click)="deleteFile(file.file_id)" color="warn" class="file__button">
                    Delete file
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-menu>
        </mat-card>
    </div>
</app-panel>